@font-face {
    font-family: 'GillSansMT';
    src: local('GillSansMT'), url('../fonts/GillSansMT.TTF') format('truetype');
}

@font-face {
    font-family: 'GenRyuMinTW-SemiBold-TTF';
    src: local('GenRyuMinTW-SemiBold-TTF'), url('../fonts/GenRyuMinTW-SemiBold-TTF.ttf') format('truetype');
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body {
    background-color: #fff700;
}

.my-loading {
    background-color: #ffbc00;
    max-width: 100vw;
    max-height: 100vh;
    padding-left: 40vw;
    padding-right: 40vw;
    padding-top: 40vh;
    padding-bottom: 40vh;
}

.chinese-font {
    font-family: 'cwTeXYen', sans-serif;
}

.row {
    max-width: 100vw;
    text-align: center;
}

.select-cards-title-wrapper {
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-image {
    height: 5rem;
    width: 5rem;
}

.select-cards-title {
    font-size: 2rem;
    height: 5rem;
    width: 10rem;
    line-height: 5rem;
}

.seletion-subtitle-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 80%;
    font-size: 1rem;
}

.select-cards-save-button {
    background-color: #ffffff;
    color: #000000;
    width: 6rem;
    height: 3rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    border-color: #443416;
    border-width: 0.3rem;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 1.5rem;
}

.cancel-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
}

.cancel {
    position: absolute;
    left: 0.4rem;
    top: 0.4rem;
    width: 1rem;
    height: 1rem;
}

.select-cards-save-wrapper {
    height: 5.5rem;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.select-cards-save-shadow {
    width: 100vw;
    height: 1.5rem;
    background: -webkit-linear-gradient(#ffbb0000, #ffbc00);
    background: -o-linear-gradient(#ffbc0000, #ffbc00);
    background: -moz-linear-gradient(#ffbc0000, #ffbc00);
    background: linear-gradient(#ffbc0000, #ffbc00);
    margin: 0;
}

.select-cards-save-button-wrapper {
    width: 100vw;
    height: 4rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background: #ffbc00;
}