@font-face {
    font-family: 'GillSansMT';
    src: local('GillSansMT'), url('../fonts/GillSansMT.TTF') format('truetype');
}
@font-face {
    font-family: 'GenRyuMinTW-SemiBold-TTF';
    src: local('GenRyuMinTW-SemiBold-TTF'), url('../fonts/GenRyuMinTW-SemiBold-TTF.ttf') format('truetype');
}
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body{
    background-color: #fff700;
}
.my-loading{
    background-color: #58a8d7;
    width: 100vw;
    height: 100vh;
    padding-left: 40vw;
    padding-right: 40vw;
    padding-top: 40vh;
    padding-bottom: 40vh;
}

.chineese-font{
    font-family: 'cwTeXYen', sans-serif;
    font-size: 0.8rem;
    /* font-weight:600; */
}

.row {
    max-width: 100%;
    text-align: center;
}
.select-cards-title-wrapper{
    /* position: fixed;
    top:0;
    left: 50%;
    height: 10rem; */
}
.select-cards-save-wrapper{
    height: 4rem;
    width: 100vw;

    position: fixed;
    bottom: 0;
    background-color: #443416;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.select-cards-save-button{
    background-color: #58a8d7;
    color: #ffffff;

    width: 6rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    font-size: 1.5rem;
}

.select-cards-title{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    border-color: #fff700;
    background-color: #fff700;
    columns: #443416;;
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.2rem;
}

.select-cards-container{
    /* font-size: 1.5rem; */
    text-align: center;
}
.seletion-subtitle-wrapper{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    width:80%;
    font-size: 0.7rem;
}

.bank-select-card-container{
    max-width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.bank-select-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    border-color: #443416;
    border-width: 0.3rem;
    background-color: #ffffff;
    color:#443416;
    
    min-width:90vw;
    min-height: 5rem;
    /* margin-left: 5vw;
    margin-right: 5vw; */
    text-align: center;
}
.bank-select-image{
    margin: 0.5rem;
    width: 4rem;
    height: 4rem;
    background-color: black;
}
.bank-select-image-src{
    max-width: 100%;
    max-height: 100%;
}
.bank-select-bankInfo{

}

.bank-select-bankName{
    
    font-size: 2rem;
}

.bank-select-Info-title{
    font-size: 0.8rem;

}
.bank-select-Info-subtitle{
    font-size: 0.8rem;
}


.blue{
    color: #58a8d7;
}

.register-form-contaniner{
    margin-bottom: 6rem;
}

.register-gender{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}
.option-container{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-around;

    height:2rem;

    border-style: solid;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    border-color: #49586117;
    vertical-align: middle;
}

.manage-card{
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
    margin-left: 5%;
    margin-right: 5%;
}

.card-lists-container{
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
    margin-left: 0%;
    margin-right: 0%;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    border-color: #58a8d7;
 
    min-height:8rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.card-lists{

}

.add-card{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    text-align: center;
    border-radius: 0.3rem;
    height:2rem;
    border-color: #58a8d7;
    background: #58a8d7;
    color: #ffffff;
    /* box-shadow: 0px 8px -15px rgba(0, 0, 0, 0.1);\ */
    border: none;
    transition: 0.5s;
}
.add-card:hover{
    height:2.5rem;
    transition: 0.5s;
}
.card{
    font-size: 0.6rem;
    height:3.3rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    border-style: solid;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    border-color: #49586117;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.selcet-bank-container{
    vertical-align: center;
    width:40%;
    margin-left:2%;
}
.selcet-card-container{
    /* margin-top:25%;
    margin-bottom:25%; */
    width:56%;
    margin-left:2%;
}
.cancel-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    width:1.8rem;
    height:1.8rem;
    position: relative;
}
.cancel{
    position: absolute;
    left:0.4rem;
    top:0.4rem;

    width:1rem;
    height:1rem;
}
