@font-face {
    font-family: 'GillSansMT';
    src: local('GillSansMT'), url('../fonts/GillSansMT.TTF') format('truetype');
}

@font-face {
    font-family: 'GenRyuMinTW-SemiBold-TTF';
    src: local('GenRyuMinTW-SemiBold-TTF'), url('../fonts/GenRyuMinTW-SemiBold-TTF.ttf') format('truetype');
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);


.chinese-font {
    font-family: 'cwTeXYen', sans-serif;
}

.row {
    max-width: 100vw;
    text-align: center;
}


.bank-select-card-list-contaniner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}

.bank-select-card-container {
    max-width: 90vw;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bank-select-card {
    width: 95vw;
    max-width: 80vh;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    border-color: #443416;
    border-width: 0.3rem;
    background-color: #ffffff;
    color: #443416;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bank-select-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    
    min-height: 5rem;
    /* margin-left: 5vw;
    margin-right: 5vw; */
    text-align: center;
}

.bank-select-image {
    margin: 0.5rem;
    width: 4rem;
    height: 4rem;
    background-color: black;
}

.bank-select-image-src {
    max-width: 100%;
    max-height: 100%;
}

.bank-select-bankinfo {}

.bank-select-bankName {
    font-size: 2rem;
}

.bank-select-info-title {
    font-size: 0.8rem;
}

.bank-select-info-subtitle {
    font-size: 0.8rem;
}

.card-selet-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* z-index: -1; */
    transition: 1s;
}

.card-image-card-holder {
    /* width:18rem; */
    height: 100%;
    /* width:90%; */
    /* margin:1rem; */
    /* padding: 0.5rem;; */
    /* padding-left:5%;
    padding-right:5%; */
}

.card-image-card {
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #443416;
    border-width: 0.1rem;
    background-color: #ffffff;
    color: #443416;
    margin: 5%;
    height: 80%;
}
.card-image{
    max-width: 100%;
    max-height: 100%;
}
.blue {
    color: #58a8d7;
}

.cancel-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
}